doctype html
html
  head
    title 義賣活動
    meta(charset="UTF-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(rel='stylesheet', href='./style.css')

  body
    h1 義賣活動
    form.form(action='/submit', method='post')

      h3 訂單
      table.table 
        thead
          tr
            th 品項
            th 單價(Unit Price)
            th 幾份(Unit)
            th 備註
        tbody
          tr
            td 蘿蔔絲餅
            td $6/4個
            td
              input(name='order[蘿蔔絲餅]')
            td 每份四個
          tr
            td 豆沙包
            td $8/盒
            td
              input(name='order[豆沙包]')
            td

      h3 個人資料
      .name
        label Name 姓名
        div 
        input(name='order[name]')
      .email
        label Email 信箱
        div
        input(name='order[email]')      
      button.submit#submit 提交

