body {
  background-image: url("./HP_paper1.jpg");
}


h1 {
	font-size: 250%;
  color: black;
  text-align: center;
}

table{
	 text-align: center;
   width: 100%;
}

td{
    color: black;
    text-align: center;
    border: 1px solid black;
    font-size: 130%;
    background-color: rgba(235,235,235,0.4);
}


h3 {
	font-size: 200%;
	color: black;
    text-align: center;
    border: 2px solid black;
}

th{
    border: 1px solid black;
    height: 50px;
    width: 200px;
    font-size: 150%;
    text-align: center;
    background-color: rgba(200,200,200,0.6);
}

table{
    border: 1px solid black;
}

label{
	font-size: 120%;
}

.buy {
}
.buy td {
  position: relative;
}
.buy td:first-child::after {
  content: "✓";
  color: rgba(255,0,0,0.7);
  font-size: 200%;
  overflow: visible;
  position: absolute;
  top: -10px;
}
.subtotal {
  display: none;
}
.buy .subtotal {
  display: block;
}

input.filling {
  text-align: center;
}
#totalAmount {
  color: brown;
  font-size: 150%;
}
footer {
  min-height: 40px;
  background-color: #333;
  color: #999;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
  font-size: 80%;
  display: flex;
  flex-direction: row;
}
.footer-left {
  padding-left: 20px;
  flex: 1 0 auto;
}
.footer-right {
  flex: 1 0 auto;
  text-align: right;
  padding-right: 10px;
}
.footer-right a {
  color: #999;
}
.footer-right p {
  margin: 0;
}
.icon-large {
  font-size: 150%;
}
.must::after {
  content: "*";
  color: red;
}
/* Message head */
.msgh {
  font-weight: bold;
  font-size: 150%;
  vertical-align: center;
  line-height: 30px;
}
.msgp {
  font-size: 120%;
  line-height: 30px;
}
