
@import url(https://fonts.googleapis.com/css?family=Russo+One);

@media all {
  .name {
    font-size: 32pt;
  }
  .header {
    font-family: 'Russo One', sans-serif;
    font-size: 208pt;
    text-shadow: 2px 2px #AAA;
    margin: -2cm;
    -webkit-print-color-adjust:exact;
    -webkit-filter:opacity(1);
  }
  .header::before {
    content: "#";
    font-size: 40pt;
  }
  .hrule {
    border-bottom: 2px solid black;
  }
  body {
    font-size: 20pt;
  }
  .flex-vcenter {
    display: flex;
    align-items: center;
  }
  .grid {
    display: flex;
    flex-flow: row wrap;
    border: 2px solid black;
  }
  .grid-item {
    flex: 1 0 30%;
    border: 1px solid black;
    padding-left: 0.2cm;
  }
  .grid-quantity {
    flex: 0 0 10%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
  }
  .grid-subtotal {
    flex: 0 0 10%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
  }
}

@page:first {
  margin: 1cm 2cm 2cm 2cm;
}

@page {
  margin: -1.4cm 2cm 2cm 2cm;
}

@media print {
  .header {
    text-shadow: 0.1cm 0.1cm #AAA;
  }
  .single-order {
    page-break-after: always;
  }
}

