doctype html
head
  title 義賣活動
  link(rel='stylesheet', href='/style.css')

body
  h1 義賣活動
  form.form(action='/submit')
    table.table
      thead
        tr
          th 品項
          th 單價(Unit Price)
          th 幾份(Unit)
          th 備註
      tbody
        tr
          td 蘿蔔絲餅
          td $6/4個
          td
            input(name='order[蘿蔔絲餅]')
          td 每份四個
        tr
          td 燻雞(大盒)
          td $8/盒
          td
            input(name='order[燻雞(大盒)]')
          td
    button.submit#submit 提交
